*.kdev4
*.pyc
.sconsign.dblite
.scons_variables
/build
/build-scons
/firmware/robot2015/cpu/drivers/MCP23017/
.pydevproject
/gmon.out
*.swp
/.settings
/api_docs
*~
*.sublime-workspace

# OS X desktop garbage files
.DS_Store

# Qt Creator
*.creator.user

# IntelliJ
.idea

# HG
.hg/
